<div class="input-container">
  <%= form_with(url: "/home", method: "post", ) do %>
    <%= text_field_tag(:phrase, params[:phrase], class: 'phrase-input', placeholder: "Click Microphone to Ask a Question (or start typing and press enter)") %>
  <% end %>
</div>

<% if @presenter&.debug? %>
  <%= @presenter.titles %>
<% end %>

<% if @presenter&.has_results? %>
  <div class="row card-results">
    <% @presenter.titles.each_with_index do |title, idx| %>
      <%= render partial: 'shared/carousel_item', locals: {idx: idx, data: title[:metadata] } %>
    <% end %>
  </div>
<% end %>
